<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>駿騰物流配送填單系統</title>
    
    <script type="text/javascript" src="/js/jslib/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/jslib/angular-material.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script type="text/javascript" src="/js/jslib/svg-assets-cache.js"></script>
    <link rel="stylesheet" href="/js/jslib/angular-material.css">
	<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
	<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="/js/rawdata.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <script type="text/javascript" src="/js/display.js"></script>
	<script type="text/javascript" src="/js/jslib/moment.min.js"></script>
    <script type="text/javascript" src="/js/huayuan/huayuan_service.js"></script>
    <script type="text/javascript" src="/js/huayuan/huayuan_rawdata.js"></script>
    <script type="text/javascript" src="/js/huayuan/huayuan_ext.js"></script>
    <script type="text/javascript" src="/js/huayuan/huayuan_controller_query.js"></script>
</head>

<body ng-app="huayuan">
    <!-- 下方填單頁 -->
    <div class="jumbotron text-center">
        <h1>市面物流-華元</h1>
        <p>注意：不會處理高雄台南屏東以外地區的送貨單</p>
        
        <div class="text-center" style="margin-top: 30px">
            <button id="btnAddPage" type="button" class="btn btn-lg btn-light" onclick="javascript:location.href='add.html'">新增紀錄</button> 
            <button id="btnQueryPage" type="button" class="btn btn-lg btn-primary" onclick="javascript:location.href='query.html'">查詢紀錄</button> 
            <button id="btnReportPage" type="button" class="btn btn-lg btn-light" onclick="javascript:window.open('')">瀏覽報表</button>
        </div>
    </div>                 
    <div class="container" ng-controller="queryForm" style="border:3px dashed #138496; padding: 20px;">
        <form id="query_form" ng-submit="queryData()">
            <div>
                <!--1.配送日期-->
                <div class="form-group col-sm">
                    <label for="datepicker">配送日期</label>
                    <input type="text" id="datepicker" width="276" ng-model="query.shipDate" required/>
                    <script type="text/javascript">
                        $(function () {
                            $('#datepicker').datepicker({
                                uiLibrary: 'bootstrap4',
                                modal: true,
                                format: 'yyyy-mm-dd'
                            });
                            $('#datepicker').attr("placeholder", new Date().toISOString().split('T')[0]);
                            $("#datepicker").focus();
                        });
                    </script>
                </div>
                <!--2.出貨單編號-->
                <div class="form-group col-sm">
                    <label for="delivery_order">出貨單號</label>
                    <input type="text" class="form-control" id="delivery_order" ng-model="query.orderID" placeholder="請輸入出貨單號" required />
                    <!---<small id="deliveryHelp" class="form-text text-muted">請正確輸入單號</small>	-->
                </div>
                <button type="submit" id="submit_btn" class="btn btn-primary btn-lg" style="margin-left: 15px;">單據送出</button>
            </div>
        </form>
    </div>
    <div class="container" ng-controller="resultForm" style="padding: 20px;">
        <form id="form" ng-show="viewDatas.show">
            <table class="table order-list table-responsive-sm">
                <thead class="thead-light">
                    <tr>
                        <th rowspan="2">#</th>
                        <th>送貨車次</th>
                        <th>負責人員</th>
                        <th>送貨地點</th>
                        <th>件數</th>
                        <th>運費</th>
                    </tr>
                </thead>
                <tbody ng-repeat="ship in viewDatas.data">
                    <tr>
                        <th valign="center" rowspan="0">{{ $index+1 }}</th>
                        <td>
                            {{ ship.order_ID }}
                        </td>
                        <td>
                            <textarea type="text" class="form-control" rows="1" 
                                ng-list="&#10;" 
                                ng-model="ship.driver" 
                                style="width:97px;" 
                                readonly>
                            </textarea>
                        </td>
                        <td>
                            {{ship.clientname}}
                            <br> {{ship.contact_info}}
                            <br>
                        </td>
                        <td>
                            <input type="text" value="{{ship.shipUnits}}" 
                            ng-model="ship.shipUnits"
                            ng-change="updatePrice($index)" 
                            style="font-size: large; margin:2px; width: 125px;"
                            />
                        </td>
                        <td>
                            <input type="text" 
                            value="{{ship.delivery_fee }}" 
                            ng-model="ship.delivery_fee" 
                            style="font-size: large; margin:2px; width: 125px;"
                            disabled/>
                        </td>
                    </tr>
                    <tr>
                        <th>備註</th>
                        <td colspan="7">
                            <textarea class="form-control" id="commentText" rows="2" value="{{ship.comment}}" ng-model="ship.comment"></textarea>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right;">
                            <input type="button" class="btn btn-lg btn-info form-control" value="運費試算" ng-click="validateNcal(viewDatas.data)" />
                        </td>
						<td>
                            <button type="submit" id="submit_btn" class="btn btn-primary btn-lg" ng-show="show.SubmitBtn" ng-click="submitForm()">單據送出</button>
                        </td>
                    </th>
                </tfoot>
            </table>
            <br>
        </form>
    </div>
</body>

</html>