<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>駿騰物流配送填單系統</title>
    
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
	<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script type="text/javascript" src="/js/rawdata.js"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
	<script type="text/javascript" src="/js/jslib/moment.min.js"></script>
    <script type="text/javascript" src="/js/wangjia/wangjia_service.js"></script>
    <script type="text/javascript" src="/js/wangjia/wangjia_rawdata.js"></script>
    <script type="text/javascript" src="/js/wangjia/wangjia_ext.js"></script>
    <script type="text/javascript" src="/js/wangjia/wangjia_controller_query.js"></script>
</head>

<body ng-app="wangjia">
    <!-- 下方填單頁 -->
    <div class="jumbotron text-center">
        <h1>市面物流-旺家</h1>
        <p>注意：不會處理高雄台南屏東以外地區的送貨單</p>
        
        <div class="text-center" style="margin-top: 30px">
            <button id="btnAddPage" type="button" class="btn btn-lg btn-light" onclick="javascript:location.href='add.html'">新增紀錄</button> 
            <button id="btnQueryPage" type="button" class="btn btn-lg btn-light" onclick="javascript:location.href='query.html'">查詢紀錄</button> 
            <button id="btnReportPage" type="button" class="btn btn-lg btn-primary" onclick="javascript:location.href='report.html'">瀏覽報表</button>
        </div>
    </div>                 
    <div class="text-center">
        <iframe width="75%" height="1080px" steamless src="https://docs.google.com/spreadsheets/d/1wmV7OOWY7erZMSmGhNwJLxKx9ouOT7Soxme0L0ru3iI/edit?usp=sharing"></iframe>
    </div>
</body>

</html>